<!DOCTYPE html>
<html>

<head>
    <title>html stellar</title>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="backbone-min.js"></script>
    <script src="stellar-sdk.min.js"></script>
    <script src="toml.js"></script>
</head>

<body>
    <div id="SourceAccountId"></div>
    <div id="SourceAccountAsset"></div>
    <div id="SourceAccountBalance"></div>
    <div>send to :



        <select id="selectAccountIdOrStellarAddress">
          
            <option value="account_id">Account Id</option>
            <option value="stellar_address">Stellar Address</option>
        </select>



        <input type="text" id="sendToAccountIdOrStellarAddress" size="68">
    </div>
    <div>send to Asset:
        <select id="selectAsset">
        </select>
    </div>
    <div>send to Amount:
        <input type="text" id="sendToAmount" size="18">
    </div>
    <div>send to Memo:
        <select id="selectMemoType">
          
            <option value="memo_text">Memo_Text</option>
            <option value="memo_id">Memo_Id</option>
            <option value="memo_hash">Memo_Hash</option>
            <option value="memo_return">Memo_Return</option>
        </select>
        <input type="text" id="sendToMemo" size="28">
    </div>
    <button id="send">Send</button>
    <div id="resultHash"></div>
    <script type="text/template" id="displaySelectAssetOption">
        <option value=<%= s %>>
            <%= s %>
        </option>
    </script>
    <script type="text/template" id="displayAccountDetails">
        <div>
            <%= s1 %> :
                <%  if(s2 == "native")   %>
                    XML
                    <% else %>
                        <%= s2 %>
        </div>
    </script>
    <script type="text/template" id="displayALink">
        <a href="http://stellarchain.io/tx/<%= hash %>" target="_blank">go to check : <%= hash %> </a>
        <br>
    </script>
    <script type="text/javascript">
    $(document).ready(function() {


      var object = {};

_.extend(object, Backbone.Events);

object.on("send", function(SourceAccountId, SourceAccountSequenceNumber,sendToAccountId, sendToAsset, sendToAmount, selectMemoType,sendToMemo) {
  
sendToAccountIdAmount(SourceAccountId, SourceAccountSequenceNumber, sendToAccountId, sendToAsset, sendToAmount,selectMemoType, sendToMemo)

});

//object.trigger("send", "an event","ffss");


        var sourceAccountAssets ={}
        var server = new StellarSdk.Server('https://horizon.stellar.org');
        StellarSdk.Network.usePublicNetwork();

        var SourceAccountSequenceNumber = ""

        var keypair = StellarSdk.Keypair.fromSecret('SD2JDOYRKYWZY7UFATIPMJOJH5GSQAPC5XLHI2T4BKCOXU36OP3IQUEA');
        var SourceAccountId = keypair.publicKey()




        $("#send").click(function(event) {

         
event.preventDefault();



       //   $("#send").hide()


              var e = document.getElementById("selectAsset");
            var selectAsset = e.options[e.selectedIndex].value;
          //  console.log(selectAsset)
        

              var sendToAsset = selectAsset


                        var e1 = document.getElementById("selectMemoType");
            var selectMemoType = e1.options[e1.selectedIndex].value;
          
            var sendToAmount = $("#sendToAmount").val()
            var sendToMemo = $("#sendToMemo").val()



           var e2 = document.getElementById("selectAccountIdOrStellarAddress");
            var selectAccountIdOrStellarAddress = e2.options[e2.selectedIndex].value;

          
          if(selectAccountIdOrStellarAddress == "account_id"){


           var sendToAccountId = $("#sendToAccountIdOrStellarAddress").val()


try{
    console.log("-------------")
    console.log(SourceAccountId)
    console.log(SourceAccountSequenceNumber)
    console.log(sendToAccountId)
    console.log(sendToAsset)
    console.log(sendToAmount)
    console.log(SourceAccountId)
    console.log(selectMemoType)
    console.log(sendToMemo)
console.log("-------------")


  object.trigger("send",SourceAccountId, SourceAccountSequenceNumber, sendToAccountId, sendToAsset, sendToAmount, selectMemoType,sendToMemo)
}catch(err){
 // location.reload()
 console.log(err)
}

         
          }else if(selectAccountIdOrStellarAddress == "stellar_address"){
      


var stellar_address =  $("#sendToAccountIdOrStellarAddress").val()
//"bind*fed.network"
console.log(stellar_address)
getFederationStellarAccountId(stellar_address)





          }else{


          }



           



        });





// var federationAccountId= ""

// var stellar_address = "bind*fed.network"
// getFederationStellarAccountId(stellar_address)

// setTimeout(function(){    console.log(federationAccountId) }, 10000);





function getFederationStellarAccountId(stellar_address){
var federationAccountId= ""

 var federationDomain = stellar_address.split("*")

console.log(federationDomain[1])


$.get( "https://"+federationDomain[1]+"/.well-known/stellar.toml", function( data ) {
  
  
  var config = toml.parse(data);
       $( "#result" ).html( config.FEDERATION_SERVER );
  console.log(config)



$.get( config.FEDERATION_SERVER, { q: stellar_address, type: 'name' } )
  .done(function( data ) {
    console.log(data)
  //  console.log(  data.account_id );

    federationAccountId = data.account_id

try{
  var sendToAccountId = federationAccountId
  console.log(sendToAccountId)
        


     


}catch(err){
 // location.reload()
 console.log(err)
}







  });


  // q: 'tunde_adebayo*your_org.com',
  //   type: 'name'


});

}







        function sendToAccountIdAmount(SourceAccountId, SourceAccountSequenceNumber, sendToAccountId, sendToAsset, sendToAmount,selectMemoType, sendToMemo) {
   
var asset ={}
          if(sendToAsset == "XLM"){
     asset = StellarSdk.Asset.native()
  
          }else{
     asset = new StellarSdk.Asset(sendToAsset, sourceAccountAssets[sendToAsset])
        console.log(asset)
          }


          console.log(selectMemoType)
         var memo ={}
            if(selectMemoType =="memo_text"){
              memo =  StellarSdk.Memo.text(sendToMemo);
         
          //  console.log(memo)

            }else if(selectMemoType =="memo_id"){
             memo =  StellarSdk.Memo.id(sendToMemo);
            }else if(selectMemoType =="memo_hash"){
              
              
              memo =  StellarSdk.Memo.hash(sendToMemo);

            }else if(selectMemoType =="memo_return"){

memo =  StellarSdk.Memo.returnHash(sendToMemo);
            }else{

            }

         console.log(memo)
          
    //    var memo =StellarSdk.Memo.text(sendToMemo)
     //   console.log(memo)
            var account = new StellarSdk.Account(SourceAccountId, SourceAccountSequenceNumber);

            var transaction = new StellarSdk.TransactionBuilder(account, { memo: memo })
                // add a payment operation to the transaction
                .addOperation(StellarSdk.Operation.payment({
                    destination: sendToAccountId,
                    asset: asset,
                    amount: sendToAmount // 100.50 XLM
                }))

                .build();


          

            transaction.sign(keypair); // sign the transaction

            server.submitTransaction(transaction)
                .then(function(transactionResult) {
                    console.log(transactionResult);

    $("#SourceAccountId").empty()
     $("#SourceAccountBalance").empty()
    $("#selectAsset").empty()              
    

                    getSourceAccountDetail(SourceAccountId)


    
                    // $("#resultHash").append(" <a href=\"http:\/\/testnet.stellarchain.io\/tx\/"+transactionResult.hash+ "\" target=\"_blank\">go to check : "+transactionResult.hash+"<\/a><br> ")

                    var aLinkTemplate = _.template($("#displayALink").html());

                    $("#resultHash").append(aLinkTemplate({ hash: transactionResult.hash }));
                //    $("#send").show()


                })
                .catch(function(err) {
                    console.error(err);
             //      location.reload();
                });







        }


        //test
        // Public Key
        // GDVHYIOJ6VJ2H3QOFPQTKNAAMZC2PYNJVSKDDAJ7RBMT3X2K3B55NLBT
        // Secret Key
        // SCIX75EQXSBNFMASKQPHBQQB263BNJOINZHLTVUATABQIREMVXFSCE3F


        //
        // Stellar address
        // GDNYMRRHQD6FAJRC263X6WBMW2R2GL2V2HASDXDMJZERBCL4URXPWJ3U

        // Secret key:
        // SD2JDOYRKYWZY7UFATIPMJOJH5GSQAPC5XLHI2T4BKCOXU36OP3IQUEA




        function getSourceAccountDetail(SourceAccountId) {

            var displayAccountDetailsTemplate = _.template($("#displayAccountDetails").html());
            var displaySelectAssetOptionTemplate = _.template($("#displaySelectAssetOption").html());

            server.accounts()
                .accountId(SourceAccountId)
                .call()
                .then(function(accountResult) {

                    console.log(accountResult)

                    $("#SourceAccountId").append(
                        displayAccountDetailsTemplate({ s1: "AccountId", s2: SourceAccountId }))
                    // $("#SourceAccountAsset").html(compiled({s1:"asset",s2: accountResult.balances[0].asset_type }) )
                    // $("#SourceAccountBalance").html(compiled({s1:"balance",s2: accountResult.balances[0].balance }) )


                    for (var i = 0; i < accountResult.balances.length; i++) {


                        if (accountResult.balances[i].asset_type == "native") {

                            $("#SourceAccountBalance").append(displayAccountDetailsTemplate({ s1: "XLM", s2: accountResult.balances[i].balance }))
                            $("#selectAsset").append(displaySelectAssetOptionTemplate({ s: "XLM" }))

                        } else {
                            
                            sourceAccountAssets[accountResult.balances[i].asset_code]= accountResult.balances[i].asset_issuer

                            $("#SourceAccountBalance").append(displayAccountDetailsTemplate({ s1: accountResult.balances[i].asset_code, s2: accountResult.balances[i].balance }))

                            $("#selectAsset").append(displaySelectAssetOptionTemplate({ s: accountResult.balances[i].asset_code }))

                        }

                    }

                 console.log(sourceAccountAssets)
                    // $("#SourceAccountSequenceNumber").append(compiled({s1:"Sequence",s2: accountResult.sequence }) )
                    SourceAccountSequenceNumber = accountResult.sequence
                    console.log(SourceAccountSequenceNumber)

                })
                .catch(function(err) {
                    console.error(err);
                })



        }



    


        getSourceAccountDetail(SourceAccountId)









    });
    </script>
</body>

</html>